body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

body {
    margin: 0;
    padding-top: 0;
    background-color: #DFE;
}

.table {
    width: 640px;
}

th {
    white-space: normal;
    padding: 4px;
}

td {
    padding: 4px;
}

.movie-header-col1 {
    width: 93px;
}

.movie-header-col2 {
    width: 230px;
}

.movie-header-col3 {
    width: 115px;
}

.movie-col1 {
    width: 85px;
    max-width: 93px;
}

.movie-col1 input {
    max-width: 85px;
}

.movie-col2 {
    width: 185px;
    padding: 4px;
}

.movie-col2 input {
    max-width: 175px;
}

.table tbody > tr > td {
    padding: 4px;
}

.top-bar {
    background-color: #021;
    color: #DDD;
    text-align: center;
    font-weight: bolder;
    height: 80px;
    padding: 5px;
}

.search-area {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 1em;
}

.search-area input {
    padding-bottom: 3px;
}

.search-button {
    color: darkblue;
}

.search-button:hover {
    color: darkblue;
    text-decoration: underline;
}
