body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

body {
    margin: 0;
    padding-top: 0;
    background-color: #DFE
}

.movieContainer {
    border: 2px solid;
    border-radius: 8px;
    margin: 2px;
    padding-bottom: 3px;
}

input {
    width: 220px;
}

.top-bar {
    background-color: #021;
    color: #DDD;
    text-align: center;
    font-weight: bolder;
    height: 80px;
    padding: 5px;
}

.search-area p {
    font-size: larger;
    font-weight: bold;
    padding: 1px;
    display:inline-block;
}

.list-comma::before {
  content: ', ';
}
.list-comma:first-child::before {
  content: '';
}