
<body ng-app="MovieApp">
    <div ng-controller="MovieController">
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Genre</th>
                <th colspan="4">Actors</th>
            </tr>
            <tr ng-repeat="m in movies.data">
                <td>{{m.Name}}</td>
                <td>{{m.Year}}</td>
                <td>{{m.Genre}}</td>
                <td ng-repeat="a in m.Actors">{{a}}</td>
            </tr>
        </table>
    </div>
</body>