
<body ng-app="MovieApp">
    <div ng-controller="MovieController" class="row">
        <div class="col-md-8">
            <h2>Your Movies:</h2>
            <a role="button" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch" class="search-button">
                <h3>Search</h3>
            </a>
            <div id="collapseSearch" class="collapse row search-area">
                <div class="col-md-4">
                    Title: <br />
                    <input ng-model="search.Name" tabindex="1" /> <br />
                    Genre: <br />
                    <input ng-model="search.Genre" tabindex="3" /> <br />
                </div>
                <div class="col-md-1">
                    Year: <br />
                    <input ng-model="search.Year" tabindex="2" /> <br />
                    Actor: <br />
                    <input ng-model="search.Actors" tabindex="4" /> <br />
                </div>
            </div>
            <table class="table">
                <tr>
                    <th class="movie-header-col1">Title</th>
                    <th class="movie-header-col1">Year</th>
                    <th class="movie-header-col1">Genre</th>
                    <th class="movie-header-col2">Actors</th>
                    <th class="movie-header-col3" colspan="2"></th>
                </tr>
                <tr ng-repeat="m in movies.data | filter:search:strict">
                    <td class="movie-col1">
                        <span ng-hide="m.editEnabled">{{m.Name}}</span>
                        <span ng-show="m.editEnabled"> <input ng-model="m.Name" class="movie-col1" required /> </span>
                    </td>
                    <td class="movie-col1">
                        <span ng-hide="m.editEnabled">{{m.Year}}</span>
                        <span ng-show="m.editEnabled"> <input ng-model="m.Year" type="number" class="movie-col1" /> </span>
                    </td>
                    <td class="movie-col1">
                        <span ng-hide="m.editEnabled">{{m.Genre}}</span>
                        <span ng-show="m.editEnabled"> <input ng-model="m.Genre" class="movie-col1"/> </span>
                    </td>
                    <td class="movie-col2">
                        <span ng-hide="m.editEnabled">{{m.Actors}}</span>
                        <span ng-show="m.editEnabled"> <input ng-model="m.Actors" class="movie-col2"/> </span>
                    </td>

                    <td>
                        <button ng-hide="m.editEnabled || m.deleteEnabled" class="btn btn-warning" ng-click="enableEdit(m)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span class="sr-only">Edit Movie</span>
                        </button>

                        <button ng-show="m.editEnabled" class="btn btn-success" ng-click="editMovie(m)">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <span class="sr-only">Save Edit</span>
                        </button>

                        <button ng-show="m.deleteEnabled" class="btn btn-danger" ng-click="deleteMovie(m)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            <span class="sr-only">Confirm Delete</span>
                        </button>
                    </td>
                    <td>
                        <button ng-hide="m.editEnabled || m.deleteEnabled" class="btn btn-danger" ng-click="enableDelete(m)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            <span class="sr-only">Delete Movie</span>
                        </button>

                        <button ng-show="m.editEnabled" class="btn btn-warning" ng-click="disableEdit(m)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span class="sr-only">Edit Movie</span>
                        </button>

                        <button ng-show="m.deleteEnabled" class="btn btn-success" ng-click="disableDelete(m)">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            <span class="sr-only">Cancle Delete</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <br/>
            <h2>Add a Movie</h2>
            <ng-form class="add-movie-form" name="addMovieForm" ng-model="movieToCreate">
                <div class="form-group row">
                    <span class="row">Title: <input class="pull-right" name="Name" type="text" ng-model="movieToCreate.Name" required/></span>
                    <span class="row">Year: <input class="pull-right" name="Year" type="number" ng-model="movieToCreate.Year" /> </span>
                    <span class="row">Genre: <input class="pull-right" name="Genre" type="text" ng-model="movieToCreate.Genre" /></span>
                    <span class="row">Actors: <input class="pull-right" name="Actors" type="text" ng-model="movieToCreate.Actors" /></span>
                </div>
                <div class="form-group row">
                    <button id="btnCreateMovie" class="btn btn-success" ng-click="createMovie(movieToCreate)" type="submit">Add Movie</button>
                </div>
            </ng-form>
        </div>
    </div>
</body>