
<body ng-app="MovieApp">
    <div ng-controller="MovieController">
        <br />
        <div>
            <ng-form>
                <div class="form-group row">
                    Title: <input type="text" ng-model="movieToCreate.Name" /> &nbsp; 
                    Year: <input type="number" ng-model="movieToCreate.Year" /> &nbsp;
                    Genre: <input type="text" ng-model="movieToCreate.Genre" />
                </div>
                <div class="form-group row">
                    Actors: <input class="actorInput" type="text" ng-model="movieToCreate.Actors" />
                </div> 
                <div class="form-group row">
                    <button id="btnCreateMovie" class="btn btn-default" ng-click="createMovie()">Add Movie</button>
                </div>
            </ng-form>
        </div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Genre</th>
                <th colspan="4">Actors</th>
                <th class="pull-right"></th>
            </tr>
            <tr ng-repeat="m in movies.data">
                <td class="hidden">{{m.id}}</td>
                <td ng-hide="editEnabled">{{m.Name}}</td>
                <td ng-hide="editEnabled">{{m.Year}}</td>
                <td ng-hide="editEnabled">{{m.Genre}}</td>
                <td ng-hide="editEnabled" ng-repeat="a in m.Actors">{{a}}</td>
                
                <td ng-hide="editEnabled"><button class="btn btn-warning" ng-click="enableEdit()">Edit Movie</button></td>
                <td ng-show="editEnabled"><input ng-model="m.Name" ng-show="editEnabled"/></td>
                <td ng-show="editEnabled"><input ng-model="m.Year" ng-show="editEnabled" type="number"  /></td>
                <td ng-show="editEnabled"><input ng-model="m.Genre" ng-show="editEnabled" /></td>

                <td ng-show="editEnabled"><button class="btn btn-success" ng-click="editMovie(m)">Save</button></td>
                <td ng-show="editEnabled"><button class="btn btn-warning" ng-click="disableEdit()">Cancel</button></td>
                
                <td ng-hide="editEnabled"><button class="btn btn-danger" ng-click="deleteMovie(m)">Delete</button></td>
            </tr>
        </table>
    </div>
</body>